.blockScreen {
    position: absolute;
    left: 0px;
    top: 0px;
    zIndex: 99;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

#modal_segment {
    text-align: center;
}

h4 {
    line-height: 1.7em;
}

h2 {
    line-height: 1.7em;
}

#ethereum {
    background: -webkit-linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: auto;
    font-size: calc(10vh);
    line-height: calc(10vh);
    display: inline-block;
}

